.conteudo {
    color: #777;
    background: white;
    text-align: justify;
    padding: 50px 80px;
    margin: 0 center;
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}


body, html {
    
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #777;
    height: 100%;
}

.conteudo-titulo {
    position: relative; /* Em vez de absolute */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Para ocupar toda a seção */
    width: 100%;
    text-align: center;
}

.conteudo-titulo span.titulo {
    font-size: 36px;
    border: 2px solid black;
    text-transform: uppercase;
    padding: 18px;
    background-color: black;
    color: white;
}

/* Efeito parallax */

.caixa1, .caixa2, .caixa3, .caixa4 {
    height: 100vh; /* Para ocupar toda a tela */
    opacity: 0.7; /* Vai de 0 a 1 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex; /* Adiciona flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.caixa1 {
    background-image: url(../imagens/imagem1.jpg);
}

.caixa2 {
    background-image: url(../imagens/imagem2.jpg);
}

.caixa3 {
    background-image: url(../imagens/imagem3.jpg);
}

.caixa4 {
    background-image: url(../imagens/imagem4.jpg);
}